header {
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    text-align: center;
    color: dimgray;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
li:not(:last-child) {
    margin-right: 20px;
}
a {
    color: inherit;
    text-decoration: none;
}
